
@import '../Global/global.scss';

#portfolio {
  height: auto;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaebed;
}
.works-title {
  font-family: $montserrat;
  font-weight: 500;
  font-size: 50px;
  padding-top: 5%;
  color: #2E5060;
}
.works {
  padding-top: 3%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.work-item {
  margin: 1%;
}
.amazon {
  width: 300px;
  height: 300px;
  background: url('../../../dist/images/amazon.jpg') no-repeat;
  background-size: cover;
  grid-area: amazon;
}
.airbnb {
  width: 300px;
  height: 300px;
  background: url('../../../dist/images/airbnb.jpg') no-repeat;
  background-size: cover;
  grid-area: airbnb;
}
.homepage {
  width: 300px;
  height: 300px;
  background: url('../../../dist/images/homepage.jpg') no-repeat;
  background-size: cover;
  grid-area: homepage;
}
.fade {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
  h3, .btns, .slideUp {
    visibility: hidden;
  }
}
.fade:hover {
  visibility: visible;
  background-size: cover;
  background: rgba(0,0,0,0.8);
  
  h3, .btns, .slideUp {
    visibility: visible;
  }
}
.slideUp {
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  background: #D05353;
  opacity: 0.8;
  color: white;
  font-size: 20px;
  grid-area: slideUp;
  font-family: $montserrat;
  font-weight: 500;
}
.btns {
  padding-bottom: 30%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  .code, .icons {
    border: 2px solid #D05353;
    font-size: 1em;
    padding: 2%;
    color: #D05353;
    cursor: pointer;
  }
}


@media only screen and (max-width: 425px) {
  
  #portfolio {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
    height: auto;
  }
  .works {
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    margin: 5%;
  }
}