
@import '../Global/global.scss';

#portfolio {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaebed;


  h1 {
    font-family: 'montsMedium';
    font-size: 50px;
    padding-top: 5%;
    color: #2E5060;
  }
}
.works {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 26em);
  grid-template-areas: 
  "amazon airbnb homepage";
  grid-gap: 25px;
  height: 26em;
  color: white;
}
.fade {
  height: 26em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  ". . . . ."
  ". . . . ."
  ". btns btns btns ."
  ". . . . ."
  "slideUp slideUp slideUp slideUp slideUp";
  
  h3, .btns, .slideUp {
    visibility: hidden;
  }
}
.amazon {
  background: url('../../../dist/images/amazon.jpg') no-repeat;
  background-size: contain;
  grid-area: amazon;
}
.airbnb {
  background: url('../../../dist/images/airbnb.jpg') no-repeat;
  background-size: contain;
  grid-area: airbnb;
}
.homepage {
  background: url('../../../dist/images/homepage.jpg') no-repeat;
  background-size: contain;
  grid-area: homepage;
}
.fade:hover {
  visibility: visible;
  background: rgba(0,0,0,0.8);
  
  h3, .btns, .slideUp {
    visibility: visible;
  }
}
.slideUp {
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5vh;
  background: #D05353;
  opacity: 0.8;
  color: white;
  font-size: 2em;
  grid-area: slideUp;
  font-family: 'montsMedium';
}
.btns {
  grid-area: btns;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .code, .icons {
    border: 2px solid #D05353;
    font-size: 1em;
    margin: 2%;
    padding: 2%;
    font-family: 'montsMedium';
    text-decoration: none;
    color: #D05353;
    background: none;
    cursor: pointer;
  }
}


@media only screen and (max-width: 425px) {
  
  #portfolio {
    display: flex;
    width: 100%;
    height: auto;

    h1 {
      font-size: 30px;
    }
  }
  .works {
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    padding: 0;
    margin: 5%;
    
    .fade {
      width: 100%;
      height: 20%;
      
      .slideUp {
        font-size: 20px;
      }
    }
  }
}