@import '../Global/global.scss';

h1 {
  font-family: 'montsMedium';
  font-size: 50px;
  margin-top: 3%;
}
#portfolio {
  height: 100vh;
  width: 100%;
  background: #F7F7F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-areas: 
    "amazon airbnb homepage";
  grid-gap: 25px;
  height: 400px;
  color: white;
}
.fade {
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  height: calc(400px - 10%);
  display: flex;
  flex-direction: column;
  text-shadow: .5px .5px black;
  font-family: 'montsRegular';
  color: white;

  .head {
    font-size: 30px;
    font-family: 'montsMedium';
  }
  .tech {
    padding-top: 3%;
    font-size: 18px;
  }
  .description {
    padding: 5%;
    font-size: 20px;
  }
}
.amazon {
  background: url('../../../dist/images/amazon.jpg') no-repeat;
  background-size: contain;
  grid-area: amazon;
}
.airbnb {
  background: url('../../../dist/images/airbnb.jpg') no-repeat;
  background-size: contain;
  grid-area: airbnb;
}
.homepage {
  background: url('../../../dist/images/homepage.jpg') no-repeat;
  background-size: contain;
  grid-area: homepage;
}


// .portfolio {
//   position: relative;
//   display: grid;
//   margin-top: 3%;
//   height: 400px;
//   grid-gap: 15px;
//   grid-template-columns: repeat(3, 400px);
//   // grid-template-rows: repeat(2, 400px);
//   grid-template-areas: 
//     "amazon airbnb homepage";
//     // "art1 art2 art3";
// }



// .art {
//   margin-top: 2%;
//   display: grid;
//   // background: rgba(0, 0, 0, 0.5);
//   grid-template-columns: repeat(3, 400px);
//   height: 300px;
//   grid-gap: 15px;
//   grid-template-areas: 
//     "art1 art2 art3";

//     div {
//       // margin: 10%;
//       background-size: contain;
//       align-items: center;
//     }
// }
// .black {
//   background-color: rgba(0,0,0,0.5);
//   height: inherit;
//   width: 100%;
// }
// .art1 {
//   background: url('../../../dist/images/art1.jpg') no-repeat;
//   grid-area: art1;
// }
// .art2 {
//   background: url('../../../dist/images/art2.jpg') no-repeat;
//   grid-area: art2;
// }
// .art3 {
//   background: url('../../../dist/images/art3.jpg') no-repeat;
//   grid-area: art3;
// }
