@import '../Global/global.scss';

@font-face {
  font-family: 'plume';
  src: url('../../../dist/Plume/Plume-free-brush-font.otf');
}

#home {
  height: auto;
  display: flex;
  flex-direction: column;
  background: url('https://d2genp9fhbycca.cloudfront.net/mac.jpg') 50% 75% no-repeat fixed;
  background-size: cover;
  color: black;
  z-index: -1;
  color: $ink;
  // color: $ember;
  // color: white;
  // color: rgb(46,80,96);
}
.header-layer {
  // background: rgba(184,38,1, 0.1);
  // background-color: rgba(0, 0, 0, 0.1);
  // background: rgba(255, 255, 255, 0.2);
  // background-image: linear-gradient(to bottom right, rgba(184,38,1, 0.08), rgba(6,47,79, 0.4));
  height: auto;
  width: 100%;
  padding-bottom: 5%;

}
.tagline h4 {
  font-family: $nothing;

  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.position {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 120px;
  font-family: 'plume';
  font-size: 100px;
  text-shadow: .5px .5px black;
}
.name {
  font-family: $montserrat;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.btn {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
.btn a {
  font-size: 20px;
  // color: rgb(46,80,96);
  color: $ink;
  font-family: $montserrat;
  // border: 2px solid rgb(46,80,96);
  border: 2px solid $ink;
  text-decoration: none;
  padding: 6px;
  margin: 10px;
}
.btn a:hover {
  // background-color: rgb(46,80,96);
  background: $ink;
  color: rgba(255, 255, 255, 0.9);
  transition: .2s ease-in;
}
/* Back To Top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #D05353;
  color: white;
  cursor: pointer;
  padding: 3px;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
@media only screen and (min-width: 460px) and (max-width: 960px) {
  #header {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 425px) {
  #home {
    background: url('https://d2genp9fhbycca.cloudfront.net/mac.jpg') 80% 50% no-repeat scroll;
    background-size: cover;
    height: 100vh;

    .header-layer {
      height: 100vh;
    }
  }
  .tagline {
    padding-top: 10%;
  }

  .position {
    font-display: 'flume';
    padding-top: 20%;
    font-size: 60px;
  }
  
  .name {
    font-size: 20px;
  }
  .tagline {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    h4 {
      font-size: 20px;
    }
    .btn {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 60%;
    }
  }
  
}
@media only screen and (min-width: 426px) and (max-width: 960px) {
  #home {
    height: 100vh;
    background: url('https://d2genp9fhbycca.cloudfront.net/mac.jpg') 75% 50% no-repeat;


    .header-layer {
      height: 100vh;
    }
  }
  .tagline {
    padding-top: 10%;
  }
}