@import '../Global/global.scss';


#skills {
  background-color: $eerieBlack;
  size: 100%;
  height: auto;
  color: $ghostWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  padding-bottom: 5%;
  font-family: $montserrat;
}
.title {
  padding-top: 3%;
  font-weight: 800;
  font-size: 50px;
}
.mainSkills {
  padding-top: 1%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-areas: 
    "javascript javascript htmlcss htmlcss"
    "react react node node"
    "graphql graphql sql sql"
    " . enthusiasm enthusiasm .";

    div {
      font-size: 16px;
      color: $ghostWhite;
    }
}
.title2 {
  padding-top: 2%;
  font-size: 30px;
}

.moreSkills {
  display: grid;
  width: 80%;
  padding-top: 2%;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2%;
  grid-template-areas: 
    ". . aws jquery git . .";
  div {
    padding: 5%;
    font-size: 16px;
    color: $ghostWhite;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


/* Grids */

.javascript {
  grid-area: javascript;
}
.htmlcss {
  grid-area: htmlcss;
}
.react {
  grid-area: react;
}
.node {
  grid-area: node;
}
.sql {
  grid-area: sql;
}
.graphql {
  grid-area: graphql;
}
.enthusiasm {
  grid-area: enthusiasm;
}
.aws {
  grid-area: aws;
}
.jquery {
  grid-area: jquery;
}
.git {
  grid-area: git;
}

/* Mobile 425px */ 

@media only screen and (max-width: 425px) {
  #skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .mainSkills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
      "javascript"
      "htmlcss"
      "react"
      "node"
      "graphql"
      "sql"
      "enthusiasm";
  }
  .moreSkills {
    // padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "aws"    
    "jquery" 
    "git";
  }
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {
  #skills {
    height: auto;
    padding-bottom: 5%;
    padding-top: 5%;
  }
}