
:local(.mailbox){
  size: inherit;
  height: 250px;
  /* border: 2px solid black; */
  position: relative;
  margin: 20px;
  font-family: "notoRegular";
  font-size: 20px;
  background-color: white;
}
/* :local(.mailbox) {
  border: 1px solid black;
} */