/* @import '../Contact/style.css';
@import '../Global/styles.css';

.mailbox{
  display: grid;
  /* size: 50%; */
  /* grid-template-columns: 1fr 1fr 1fr;
} */


/* .name {
  font-size: 10px;
  font-family: "notoRegular";
}
.email {
  font-family: "notoRegular";
  font-size: 10px;
}
.text {
  font-family: 'notoRegular';
  font-size: 10px; */
  /* border: none; */
