@import '../Global/global.scss';

#about {
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: $montserrat;
  color: $eerieBlack;
  background: $ghostWhite;
}
.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background: $passiveGrey;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 5%;
  
  p {
    align-items: center;
    font-size: 30px;
    line-height: 1.5;
  }
}
.about-top {
  height: auto;
  display: flex;
  flex-direction: row;
}
.about-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  background: $ghostWhite;
  img {
    width: 600px;
    height: 400px;
  }
}
.narrative {
  background: $ghostWhite;
  display: flex;
  padding: 5%;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  font-size: 20px;
  line-height: 1.25;

  .card {
    padding-left: 20px;
    width: 90%;

    h4 {
      font-weight: 600;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  h3 {
    margin-bottom: 5%;
    font-weight: 800;
    border-bottom: 2px solid;
    font-size: 30px;
    align-items: center;
  }
  .cues {
    visibility: hidden;
    display: none !important;
  }
}
/* Bottom half */


.gallery {
  background: url("https://d2genp9fhbycca.cloudfront.net/hollywood.jpg") 50% 30% no-repeat fixed;
  background-size: cover;
  // background: url('../../../dist/images/hollywood.jpg') 50% 30% no-repeat fixed;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blur {
  padding-top: 3%;
  width: 100%;
  height: auto;
  padding-bottom: 3%;
  background: rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  li {
    display: none;
  }

  img {
    height: 200px;
    width: auto;
    justify-self: stretch;
  }
}

/* Mobile 425px */

@media only screen and (max-width: 425px) {
  #about {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .tag {
    height: auto;
    padding: 5%;
    p {
      font-size: 20px;
    }
  }
  .about-pic {
    // width: 110%;
    padding: 0;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  .about-top {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  .narrative {
    display: flex;
    width: 100%;
    height: auto;

    h3 {
      align-self: center;
      margin-bottom: 0;
      padding-bottom: 1%;
      border-bottom: 2px solid black;
    }

    .scroll-x {
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      .card {
        scroll-snap-align: center;
        padding: 5% 10% 5% 10%;
        flex: 0 0 auto;
        width: 80vw;
        font-size: 16px;
      }
      .cues {
        display: block !important;
        visibility: visible;
        height: auto;
      }
    }
    .philosophy {
      display: block;
    }
  }
}
  .gallery {
    height: auto;
    display: flex;
    background: url("https://d2genp9fhbycca.cloudfront.net/hollywood.jpg") 50% 40% no-repeat;
    flex-direction: column;
    width: 100%;
    
    .blur {
      padding-top:5%;
      height: auto;
      width: 100%;
    }

    .personal {
      display: none;
    }
    .pictures {
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      height: auto;
     
      .card1 {
        flex: 0 0 auto;
        margin: 5%;
        width: auto;
        height: 300px;
        scroll-snap-align: center;
      }
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 1080px) {
  #about {
    height: auto;
  }
  .tag{
    p {
      font-size: 20px;
    }
  }
  .about-top {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.8);
    
    }
    .narrative {
      width: 80%;
      padding-bottom: 5%;
    }
  }
  .gallery {
    width: 100%;
    height: auto;

    .blur {
      height: auto;
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .narrative {
    display: flex;
    width: 100%;
    height: auto;

    h3 {
      align-self: center;
      margin-bottom: 0;
      padding-bottom: 1%;
      border-bottom: 2px solid black;
    }
    .about-top {
      padding-left: none;
      .about-pic {
        padding-left: none;
      }
    }

    .scroll-x {
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      .card {
        scroll-snap-align: center;
        padding: 5%;
        flex: 0 0 auto;
        width: 80vw;
        font-size: 16px;
      }
      .cues {
        display: block !important;
        visibility: visible;
        height: auto;
      }
    }
    .philosophy {
      display: block;
    }
  }
  .flex {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 25%;
    
    .pictures {
      overflow-x: scroll;
      overflow-y: hidden;
      width: 50%;
      display: grid;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      padding-left: 10px;
      padding-right: 10px;

      .card1 {
        height: 200px;
        width: auto;
        scroll-snap-align: center;
      }
    }
  }
}