@import '../Global/global.scss';

#about {
  height: auto;
  display: flex;
  flex-direction: column;
}
.philosophy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background: #eaebed;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 5%;
  
  p {
    align-items: center;
    font-family: 'notoRegular';
    font-size: 30px;
    line-height: 1.5;
  }
}
.passion {
  height: auto;
  display: flex;
  flex-direction: row;
}
.profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  width: 40%;
  background: white;
  img {
    width: 600px;
    height: 400px;
  }
}
.narrative {
  background: white;
  display: flex;
  padding: 5%;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  font-family: 'montsRegular';
  font-size: 20px;
  line-height: 1.25;

  h3 {
    margin-bottom: 5%;
    font-family: 'montsMedium';
    border-bottom: 2px solid;
    font-size: 30px;
    align-items: center;
  }
  .cues {
    visibility: hidden;
  }
}
/* Bottom half */


.gallery {
  background: url('../../../dist/images/hollywood.jpg') 50% 30% no-repeat fixed;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blur {
  height: auto;
  padding-bottom: 5%;
  background: rgba(0, 0, 0, 0.2);
}
.personal {
  font-family: 'montsMedium';
  font-size: 20px;
  color: white;
  padding: 2% 10% 2% 10%;
  text-shadow: .5px .5px black;

  h1 {
    font-family: 'notoMedium';
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 20px;
  }
  p {
    text-indent: 25px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  li {
    display: none;
  }

  img {
    height: 200px;
    width: auto;
    justify-self: stretch;
  }
}

/* Mobile 425px */

@media only screen and (max-width: 425px) {
  #about {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .philosophy {
    height: auto;
    padding: 5%;
    p {
      font-size: 20px;
    }
  }
  .passion {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    
    .profilePic {
      width: 100%;
      padding-left: 0;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  .narrative {
    display: flex;
    width: 100%;
    height: auto;

    h3 {
      padding-top: 5%;
      align-self: center;
      margin-bottom: 0;
      padding-bottom: 1%;
      border-bottom: 2px solid black;
    }

    .scroll-x {
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      .card {
        scroll-snap-align: center;
        padding: 5%;
        flex: 0 0 auto;
        width: 80vw;
        text-align: justify;
      }
      .cues {
        visibility: visible;
        height: auto;
      }
    }
  }
  }
  .gallery {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .blur {
      padding-top:5%;
      height: auto;
      width: 100%;
    }

    .personal {
      display: none;
    }
    .pictures {
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      height: auto;
     
      .card1 {
        flex: 0 0 auto;
        margin: 5%;
        width: auto;
        height: 300px;
        scroll-snap-align: center;
      }
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 1024px) {
  #about {
    height: auto;
  }
  .philosophy {
    p {
      font-size: 20px;
    }
  }
  .passion {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.8);
    
    }
    .narrative {
      width: 80%;
      padding-bottom: 5%;
    }
  }
  .gallery {
    width: 100%;
    height: auto;

    .blur {
      height: auto;
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .flex {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 25%;
    
    .pictures {
      overflow-x: scroll;
      overflow-y: hidden;
      width: 50%;
      display: grid;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      padding-left: 10px;
      padding-right: 10px;

      .card1 {
        height: 200px;
        width: auto;
        scroll-snap-align: center;

      }
    }
  }
}