@import '../Global/global.scss';

.navigation {
  overflow: hidden;
  margin: none;
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: space-evenly;
  background: white;
  border-bottom: 1px double grey;
  position: relative;
  z-index: 10;
}
.icon {
  display: flex;
  justify-content: center;
  display: none;
}
.navbar {
  list-style: none;
  font-family: 'montsMedium';
  font-size: 20px;
  display: flex;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: black;
  margin: 6px;
  transition: .2s ease-in;
}
.navbar:hover a {
  color: #B10F2E;
  // color: #6f6f6f;
}
.navbar a:hover {
  color: black;
}
.sticky {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

/* Dropdown for smaller screens */

@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    height: 8vh;
    justify-content: center;
  }
  .navbar {
    display: none;
  }
  .icon {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    padding-right: 5%;
  }
  .navbar_dropdown {
    display: flex;
    flex-direction: column;
    transition: 1s ease-in;
    height: relative;
  }
}