@import '../Global/global.scss';

.navigation {
  border-bottom: 1px double grey;
  height: 5vh;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  z-index: 10;
}
// .nav-container {
//   width: 77vw;
//   display: flex;
//   justify-content: flex-end;
//   padding-right: 3vw;
// }

.icon {
  display: flex;
  justify-content: center;
  display: none;
}
.navbar {
  list-style: none;
  font-family: 'montsMedium';
  font-size: 20px;
  display: flex;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: black;
  margin: 6px;
  transition: .2s ease-in;
}
.navbar:hover a {
  color: #B10F2E;
}
.navbar a:hover {
  color: black;
}
.sticky {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}
.icon {
  display: none;
}
@media only screen and (max-width: 768px) {
  // .navigation,
  // .navbar {
  // //   flex-direction: column;
  // //   min-height: 8vh;
  // //   justify-content: center;
  // }
  .navbar {
    display:none;
  }
  .navigation {
    flex-direction: column;
    height: 8vh;
    justify-content: center;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .icon {
    align-self: flex-end;
    justify-content: center;
    display: initial;
    position: absolute;
    cursor: pointer;
  } 
}



// /* Dropdown for smaller screens */

// @media only screen and (max-width: 768px) {
//   .navbar, #navbar {
//     flex-direction: column;
//   }
//   .navbar {
//     display: none;
//   }
//   // .navigation {
//   //   flex-direction: column;
//   //   height: 8vh;
//   //   justify-content: center;
//   // }
//   .navbar_dropdown {
//     display: flex;
//   }
//   .icon {
//     align-self: flex-end;
//     display: initial;
//     position: absolute;
//     cursor: pointer;
//     padding-right: 5%;
//     // align-self: flex-end;
//     // display: initial;
//     // position: absolute;
//     // cursor: pointer;
//   }
// }