@import '../Global/global.scss';

#nav {
  * {
    outline: none;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 18px;
  top: 18px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $white;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
  // box-shadow: 1px 1px 5px black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  // background: white;
  background: $ink;
  padding-top: 10%;
  font-size: 18px;
  outline: none;
  overflow: hidden;
}

/* Wrapper for item list */
.bm-item-list {
  height: auto;
  text-decoration: none;
  color: $white;
  font-size: 20px;
  padding-top: 1em;
  padding-left: 1em;
  font-family: $montserrat;
  transition: .2s ease-in;
  font-weight: 600;
}
.bm-item-list:hover {
  color: $lime;
}

/* Individual item */
.bm-item {
  line-height: 2;
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

#navbar-desktop {
  display: none;
  visibility: hidden;
}

@media only screen and (min-width: 770px) {
  #burger, .bm-burger-button {
    display: none;
    visibility: hidden;
  }
  #navbar-desktop {
    display: flex;
    visibility: visible;
    width: 100%;
    position: fixed;
    height: 7vh;
    background: white;
    z-index: 999;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
  }
  .navbar, .navbar-item {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    width: 80%;
    margin: 0 auto;
  }
  .navbar-item {
    width: 100%;
    justify-content: flex-end;
  }
  .logo a {
    font-family: 'plume';
    font-size: 60px;
    color: $ink;
    left: 0;
    text-decoration: none;
    // top: 0;
  }
  .navbar-item a {
    color: $eerieBlack;
  }
  .navbar-item:hover a {
    color: $lime;
  }
  .navbar-item a:hover {
    color: $eerieBlack;
  }
  // .bm-item-list {
  //   color: $eerieBlack;
  // }
  // .bm-item-list:hover {
  //   color: $eerieBlack;
  // }
  // .navbar-item:hover li a {
  //   color: $crimsom;
  // }
}