@import '../Global/global.scss';

#contact {
  background-color: $eerieBlack;   
  background-size: cover;
  height: auto;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  font-family: $montserrat;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// /* top half */

.banner {
  background: url("https://d2genp9fhbycca.cloudfront.net/rawpixel-652547-unsplash.jpg") 50% 30% no-repeat fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  .banner-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
  }
 
  h3 {
    font-family: $nothing;
    font-size: 30px;
    color: white;
    text-shadow: .5px .5px black;
  }
}
.chat {
  font-size: 60px;
  font-weight: 700;
  color: $ghostWhite;
  margin-top: 5%;
  text-shadow: .5px .5px black;
}

// /* bottom half */

.bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  background: $ghostWhite;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $yankeesBlue;
  font-size: 25px;
  font-variant: small-caps;
  font-weight: 550;
  word-break: keep-all;
}
.contact-info:hover {
  font-size: 30px;
  transition: .2s ease-in;
}
.la {
  background: url("https://d2genp9fhbycca.cloudfront.net/map.jpg") 0 55% no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $darkTerra;
    font-weight: 600;
    font-size: 20px;
    padding-top: 8%;
    text-shadow: .5px .5px black;
  }
}
.footer {
  display: flex;
  background: $eerieBlack;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  height: auto;
  align-items: center;
  padding: none;
  
  a {
    color: $beigeRed;
    margin: 5%;
  }
}


@media only screen and (max-width: 425px) {
  .banner {
    background-size: contain;    
    background: url('https://d2genp9fhbycca.cloudfront.net/rawpixel-652547-unsplash.jpg') 50% 35% no-repeat;
  }
  .contact-info {
    font-size: 15px;
  }
  .footer {
    a {
      width: 90%;
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 1024px) {
  #contact {
    height: auto;
  }
  .bottom {
    height: 55vh;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .banner {
    background-size: contain;    
    background: url('https://d2genp9fhbycca.cloudfront.net/rawpixel-652547-unsplash.jpg') 50% 35% no-repeat;
  }
}