@import '../Global/global.scss';

#contact {
  background: url('../../../dist/images/rawpixel-652547-unsplash.jpg') 50% 50% no-repeat fixed;
  background-size: cover;
  height: auto;
  // height: 100vh;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// /* top half */

.banner {
  // height: 40vh;
  padding-top: 10%;
  padding-bottom: 10%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
 
  h3 {
    font-family: 'nothingRegular';
    font-size: 30px;
    color: white;
    text-shadow: .5px .5px black;
  }
}
.chat {
  font-size: 60px;
  font-family: 'montsRegular';
  color: white;
  margin-top: 5%;
  text-shadow: .5px .5px black;
}

// /* bottom half */

.bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  background: white;
  width: 100%;
  // height: 35vh;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cards-scroll {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.cards-item {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  border: 3px solid #423d3d;
  margin: 1%;
  padding: 1%;
  width: 15em;
  height: 15em;
  color: #423d3d;

  h1, h3 {
    font-family: 'notoMedium';
    font-size: 25px;
  }
  .info-icons {
    margin-top: 5%;
    display: inline-block;
  }
  .info-column {
    width: 100%;
  }
}
.cards-item:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  color: white;
}
.cards-email {
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.la {
  background: url('../../../dist/images/map.jpg') 0 55% no-repeat;
  background-size: cover;
  height: 20vh;
  // height: auto;
  width: 100%;
}
.footer {
  // height: 10vh;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  a {
    // color: #D05353;
    color: rgb(218, 204, 204);
    margin: 5%;
  }
}

@media only screen and (max-width: 425px) {
  #contact {
    background: url('../../../dist/images/rawpixel-652547-unsplash.jpg') 50% 20% no-repeat;
    background-size: cover;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    .banner {
      h3 {
        padding: 5%;
        font-size: 20px;
      }
      .chat {
        font-size: 30px;
      }
    }
  }
  .bottom {
    display: flex;
    height: 50vh;
    width: 90%;
    padding: 5%;
    
    .cards-scroll {
      width: auto;
      scroll-snap-type: x mandatory;
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      .cards-item {
        scroll-snap-align: center;
        // padding: 0;
        margin: 5%;
        width: 80%;
        flex: 0 0 auto;
      }
    }
  }
  .footer {
    a {
      width: 90%;
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 1024px) {
  #contact {
    height: auto;
  }
  .bottom {
    height: 60vh;
  }
}