@import '../Global/global.scss';

#contact {
  background: black;
  background-size: cover;
  height: auto;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// /* top half */

.banner {
  background: url('../../../dist/images/rawpixel-652547-unsplash.jpg') 50% 50% no-repeat fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  .banner-layer {
    // background: rgba(208,83,83, 0.5);
    // background-color: rgba(46,80,96, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
 
  h3 {
    font-family: 'nothingRegular';
    font-size: 30px;
    color: white;
    text-shadow: .5px .5px black;
  }
}
.chat {
  font-size: 60px;
  font-family: $montserrat;
  font-weight: 700;
  color: white;
  margin-top: 5%;
  text-shadow: .5px .5px black;
}

// /* bottom half */

.bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  background: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(46,80,96);
  font-size: 25px;
  font-variant: small-caps;
  font-family: $montserrat;
  font-weight: 550;
  // transition: .2s ease;
}
.contact-info:hover {
  font-size: 30px;
  transition: .2s ease-in;
}
.la {
  background: url('../../../dist/images/map.jpg') 0 55% no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
}
.footer {
  display: flex;
  background: black;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  height: auto;
  align-items: center;
  padding: none;
  
  a {
    color: rgb(218, 204, 204);
    margin: 5%;
  }
}


@media only screen and (max-width: 425px) {
  #contact {
    background: url('../../../dist/images/rawpixel-652547-unsplash.jpg') 50% 20% no-repeat;
    background-size: cover;    
  }
  .contact-info {
    width: 100%;
    font-size: 20px;
  }
  .contact-info:hover {
    font-size: 25px;
  }
  .footer {
    a {
      width: 90%;
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 1024px) {
  #contact {
    height: auto;
  }
  .bottom {
    height: 55vh;
  }
}