@import '../Global/styles.css';

:local(.container) {
  height: 100vh;
  size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  background-color: #eaebed;
}

/* top half */

:local(.banner) {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url('../../../dist/images/rawpixel-652547-unsplash.jpg') 50% 50% no-repeat;
  background-size: cover;
}
:local(.chat) {
  font-size: 40px;
  font-family: 'promptBold';
  color: white;
  text-shadow: .5px .5px black;
}

/* bottom half */

:local(.info) {
  /* grid-area: info; */
  border: 2px solid black;
  /* font-family: 'notoRegular';
  font-size: 20px; */
  grid-column-start: 2;
  grid-row-start: 2;
}
:local(.email) {
  /* grid-area: email; */
  border: 2px solid black;
  grid-column-start: 4;
  grid-row-start: 2;

}
:local(.map) {
  /* grid-area: location; */
  border: 2px solid black;
  grid-column-start: 6;

  grid-row-start: 2;

}

:local(.bottom) {
  width: 100%;
  height: 45vh;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(100px, auto); */
  grid-template-columns: [marginLeft] 5% [line1] 1fr [line2] 3% [line3] 1fr [line4] 3% [line5] 1fr [line6] 5% [marginRight];
  grid-template-rows: [marginTop] 15% [first] 1fr [second] 15% [marginBottom]; 
  grid-template-areas: 
    "......."
    ". info . email . location ."
    ".......";
    /* grid-template-areas: 
    "hd hd hd hd   hd   hd   hd   hd   hd"
    "sd sd sd main main main main main main"
    "ft ft ft ft   ft   ft   ft   ft   ft"; */

}
/* :local(.bottom) div {
  height: 250px;
  border: 2px solid black;
  flex-basis: 20%;
  margin: 20px;
  font-family: "notoRegular";
  font-size: 20px;
  padding: 3%;
  background-color: white;
} */
/* :local(.info) {
  height: 250px;
  border: 2px solid black;
  flex-basis: 20%;
  margin: 20px;
  font-family: "notoRegular";
  font-size: 20px;
  padding: 3%;
  background-color: white;
} */
/* :local(.email) {
  height: 250px;
  border: 2px solid black;
  flex-basis: 25%;
  margin: 20px;
  font-family: "notoRegular";
  font-size: 20px;
  padding: 3%;
  background-color: white;
} */
/* :local(.map) {
  height: 250px;
  border: 2px solid black;
  flex-basis: 20%;
  margin: 20px;
  font-family: "notoRegular";
  font-size: 20px;
  padding: 3%;
  background-color: white;
} */

/* Footer */ 

/* :local(.footer) {
  border: 1px solid black;
  width: 100%;
  height: 10vh;
} */
