/* Fonts */


/* Montserrat */

@font-face {
  font-family: 'montsBlack';
  src: url('../../../dist/Montserrat/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'montsBold';
  src: url('../../../dist/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'montsLight';
  src: url('../../../dist/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'montsMedium';
  src: url('../../../dist/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'montsRegular';
  src: url('../../../dist/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'montsItalic';
  src: url('../../../dist/Montserrat/Montserrat-Italic.ttf');
}

/* Cursive font */

@font-face {
  font-family: 'nothingRegular';
  src: url('../../../dist/Nothing_You_Could_Do/NothingYouCouldDo.ttf');
}

/* General */

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  font-size: 10px;
  visibility: hidden;
  width: 60px;
  background-color: #423d3d;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 1s;
  bottom: 120%;
  left: 50%; 
  margin-left: -30px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #423d3d transparent transparent transparent;
}

/* Back To Top */


@media only screen and (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
  .tooltiptext {
    display: none;
  }
}

html, body {
  margin: none;
  padding: none;
  z-index: 0;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
}

/* Responsive */

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px,
) !default;