/* Fonts */

/* Plume */
@font-face {
  font-family: 'plume';
  src: url('../../../dist/Plume/Plume-free-brush-font.otf');
}

/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$montserrat: 'Montserrat', sans-serif;

/* Cursive font */
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
$nothing: 'Nothing You Could Do', cursive;

/* Colors */

$darkTerra: #D05353;
$yankeesBlue: #2E5060;
$passiveGrey: #eaebed;
$ghostWhite: #FAFCFE;
$eerieBlack: #1B1D23;
$beigeRed: #DACCCC;
$crimsom: #B10F2E;
$white: #fff;

/* Alternate Scheme */ 
$greenSheen: #64B6AC;
$wenge: #704C5E;
$slateBlue: #414288;

$ember: #B82601;
$ink: #062F4f;
$posy: #813772;

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  font-size: 10px;
  visibility: hidden;
  width: 60px;
  background-color: #423d3d;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 1s;
  bottom: 120%;
  left: 50%; 
  margin-left: -30px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #423d3d transparent transparent transparent;
}

/* Back To Top */

// #myBtn {
//   display: none;
//   position: fixed;
//   bottom: 20px;
//   right: 30px;
//   z-index: 99;
//   border: none;
//   outline: none;
//   background-color: #D05353;
//   color: white;
//   cursor: pointer;
//   padding: 3px;
// }
// #myBtn:hover {
//   background-color: #555; /* Add a dark-grey background on hover */
// }


@media only screen and (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
  .tooltiptext {
    display: none;
  }
}

html, body {
  margin: none;
  padding: none;
  z-index: 0;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
}

/* Responsive */

$breakpoints: (
  'phone': 425px,
  'tablet': 768px,
  'desktop': 1024px,
) !default;

/* Pre Loader */
// $color-background: #eaecfa;
// $color-loader: #ce4233;

// body {
//   background: $color-background;
// }

// #wrapper {
//   width: 250px;
//   height: 50px;
//   line-height: 50px;
//   text-align: center;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   font-family: helvetica, arial, sans-serif;
//   text-transform: uppercase;
//   font-weight: 900;
//   color: $color-loader;
//   letter-spacing: 0.2em;
  
//   &::before, &::after {
//     content: "";
//     display: block;
//     width: 15px;
//     height: 15px;
//     background: $color-loader;
//     position: absolute;
//     animation: load .7s infinite alternate ease-in-out;
//   }
  
//   &::before {
//     top: 0;
//   }
  
//   &::after {
//     bottom: 0;
//   }
// }

// @keyframes load {
//   0% { left: 0; height: 30px; width: 15px }
//   50% { height: 8px; width: 40px }
//   100% { left: 235px; height: 30px; width: 15px}
// }